.background {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.logo {
	font-size: 72px;
	font-family: 'bariol';
	a {
		color: #fff;
		text-decoration: none;
	}
}